/* Make html/body fill the viewport */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Full-screen background */
body {
  background-image: url('./assets/asadal_stock_66.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

/* Overlay to darken background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}

/* Content on top */
.content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

/* Project cards */
.projects {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: rgba(132, 255, 247, 0.492);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 255, 240, 0.3);
  padding: 20px;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.5);
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px 4px rgba(255,255,255,0.5);
  background: rgba(176, 255, 250, 0.5);
}

/* Button style */
.button-a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #61dafb;
  color: #000;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-b {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-top: 1rem;

  overflow-y: auto;
  background: rgba(0, 255, 240, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(0, 255, 240, 0.3);
}
.button-b:hover {
  background: #78f121;
  border: #e0f121;
}

.button-a:hover {
  background-color: #21a1f1;
  
}

.dialog-root {
  position: fixed;
  inset: 0;
  z-index: 999;
}

.dialog-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(2px);
}

.dialog-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-panel {
  width: 90vw;
  height: 85vh;
  
  padding: 40px;
  overflow-y: auto;
  background: rgba(0, 255, 240, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 255, 240, 0.3);

}

.dialog-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.dialog-desc {
  margin-bottom: 1rem;
}